{{ define "main" }}
    <div class="main">
            <h1 class="lead">{{.Site.Params.slogan }}</h1>
        <img src="{{.Site.Params.headerimage}}"/>
    </div>
    <div class="main2">
        {{partial "fragments/mission.html"}}
        <div style="width:100%;text-align: right"><h4><a href="/about/"> learn more ></a></h4></div>
    </div>
    <hr>
    <div class="main2">
        <h3> fresh posts </h3>
        <div class="recent-blogs">
        {{ range where .Pages "Section" "blog" }}
            {{range first 3 .Pages }}
            <div style="" class="recent-blog-post">
                <img src="{{.Params.front_pic}}" style="width:100%; max-width: 200px; margin:auto;"/>
                <div>
                <h4 class="nobottom"> <a class="underlined" href="{{.URL}}">{{.Title}} </a> </h4>
                {{if .Params.Author }} <small> by {{.Params.Author}}</small> {{end}}
                <small>on {{.Date.Format "January 2, 2006"}}</small>
                </div>
            </div>
            {{end}}
        {{ end }}
        </div>
        <div style="width:100%;text-align: right"><a href="/blog/"> more posts ></a></div>
    </div>
    <hr>
    <div class="main2">
        {{partial "fragments/joinlet.html"}}
    </div>
{{ end }}
