<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <script>

        const storage = window.localStorage;
        const get_darkmode = () => {
            const darkmode = storage.getItem('darkmode');
            if (darkmode === undefined || darkmode === null) {
                return true;
            }
            return darkmode === "true";
        };
        const set_darkmode = () =>
        {
            if (get_darkmode()) {
                document.body.classList.remove('lightmode');
                document.body.classList.add('darkmode');
            } else {
                document.body.classList.remove('darkmode');
                document.body.classList.add('lightmode');
            }
        };


        // see https://stackoverflow.com/questions/57484932/prevent-page-from-flickering-inherited-body-bg-color-with-theme-toggle-by-forcin
        // required to prevent flicker
        function applyBackgroundTheme(color) {
            var css = "body { background: " + color + "; }",
                head = document.head || document.getElementsByTagName('head')[0],
                style = document.createElement('style');
            head.appendChild(style);

            style.type = 'text/css';
            if (style.styleSheet){
                style.styleSheet.cssText = css;
            } else {
                style.appendChild(document.createTextNode(css));
            }
            return style;
        }
        const style = applyBackgroundTheme(get_darkmode()? "black" : "white")
        document.addEventListener("DOMContentLoaded", () => {
            // not it so the first onclick is correct
            set_darkmode();
            style.parentElement.removeChild(style);
            const v = document.getElementsByClassName('darkmode-switch')[0];
            v.onclick = (e) => {
                storage.setItem('darkmode', ! get_darkmode());
                get_darkmode();
                set_darkmode();
            }

        });


    </script>
    {{ template "_internal/google_analytics_async.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
</head>
